* {
	box-sizing: border-box;
}

@viewport {
	width: device-width;
	zoom: 1.0;
}

@-ms-viewport {
	width: device-width;
}

html {
	font-size: 15px;
}

body {
	margin: 0;
	padding: 0;
	left: 0;
	right: 0;
	font-family: Raleway,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","San Francisco","Helvetica Neue", 
		Helvetica,Ubuntu,Roboto,Noto,Arial,sans-serif;
	font-size: calc(15px + (25 - 15) * ((100vw - 320px) / (1200px - 320px)));
	line-height: calc(1.25em + (1.45 - 1.25) * ((100vw - 21em) / (70 - 21)));
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern" 1;
}

header {
	margin-left: 1.66%;
	text-transform: uppercase;
}

header h1 {
	letter-spacing: 0.09em;
	font-weight: 800;
	font-size: 5vw;
	border-bottom: 2px solid rgba(190, 190, 190, 0.6);
	padding-bottom: 2.33rem;
	width: 65%;
}

p {
	margin: 0;
}

#container {
	margin: 0 auto;
	/*padding: 0;*/
}

.fullimage {
	width: 100%;
	height: 100%;
}

.outer {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	width: 30%;
	height: 300px;
	margin: 1.66%;
	position: relative;
	float: left;
}

.inner {
	position: absolute;
}

.creditbadge {
	float: left;
	background-color: rgba(20, 20, 20, 0.5);
	color:white;
	text-decoration:none;
	padding:0.27rem 0.4rem;
	font-weight:bold;
	display:inline-block;
	border-radius:0.2em;
	text-align: center;
	vertical-align: text-bottom;
	box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.7);
}

.unsplashlogo-pre {
	display:inline-block;
	padding: 0.13rem 0.2rem;
}

.unsplashlogo-svg {
	height: 0.8rem;
	width: auto;
	position: relative;
	vertical-align: middle;
	top:-2px;
	fill:white;
}

.author-name {
	display:inline-block;
	font-size: 1.1em;
	font-weight: 400;
	padding:0.13rem 0.6rem;
	letter-spacing: 0.10em;
}

/*Thanks to Josh Crozier's answer on this question: 
https://stackoverflow.com/questions/526035/how-can-i-position-my-div-at-the-bottom-of-its-container*/
.image {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #ccc;
}

#image1.lazy {
	background-image: none;
}

#image1 {
	background-image: url("../res/thumb/thumb-hossam-m-omar-1308692-unsplash.jpg");
}

#image2.lazy {
	background-image: none;
}

#image2 {
	background-image: url("../res/thumb/thumb-elias-arnar-1309173-unsplash.jpg");
}

#image3.lazy {
	background-image: none;
}

#image3 {
	background-image: url("../res/thumb/thumb-phil-botha-1308059-unsplash.jpg");
}

#image4.lazy {
	background-image: none;
}

#image4 {
	background-image: url("../res/thumb/thumb-karl-s-1308985-unsplash.jpg");
}

#image5.lazy {
	background-image: none;
}

#image5 {
	background-image: url("../res/thumb/thumb-ian-keefe-1309035-unsplash.jpg");
}

#image6.lazy {
	background-image: none;
}

#image6 {
	background-image: url("../res/thumb/thumb-eberhard-grossgasteiger-1308674-unsplash.jpg");
}

#image7.lazy {
	background-image: none;
}

#image7 {
	background-image: url("../res/thumb/thumb-gleb-makarov-1309023-unsplash.jpg");
}

#image8.lazy {
	background-image: none;
}

#image8 {
	background-image: url("../res/thumb/thumb-jose-fontano-1310027-unsplash.jpg");
}

#image9.lazy {
	background-image: none;
}

#image9 {
	background-image: url("../res/thumb/thumb-sebastian-pociecha-1309675-unsplash.jpg");
}

#image10.lazy {
	background-image: none;
}

#image10 {
	background-image: url("../res/journey-man-1364190-unsplash.jpg");
}

#image11.lazy {
	background-image: none;
}

#image11 {
	background-image: url("../res/daniel-lee-1414689-unsplash.jpg");
}

#image12.lazy {
	background-image: none;
}

#image12 {
	background-image: url("../res/hanan-edwards-1399891-unsplash.jpg");
}

@media screen and (min-width: 46em) and (max-width: 80em) {
	/*#container {
		display: flex;
		flex-direction: column;
	}*/

	.outer {
		width: 45%;
		margin: 2.5%;
	}
}

@media screen and (max-width: 46em) {
	#container {
		display: flex;
		flex-direction: column;
	}

	.outer {
		width: 80%;
		margin: 1.33rem auto;
	}

	header {
		margin: 2rem;
	}

	header h1 {
		text-align: center;
		font-size: 6vw;
		margin: 0;
		width: 100%;
	}
}