@viewport {
	width: device-width;
	zoom: 1.0;
}

@-ms-viewport {
	width: device-width;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 15px;
}

body {
	margin: 3em auto;
	max-width: 70em;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: calc(15px * (25 - 15) * ((100vw - 320px) / (1200 - 320)));
	line-height: calc(1.3em + (1.45 - 1.3) * ((100vw - 21em) / (70 - 21)));
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern" 1;
}

/*Should have at least one media query*/
/*Should utilice flex box*/
section {
	margin: 0 1em;
}

section div *:not(h2):not(span) {
	padding: 0.3vw 0;
	margin-left: 1.8vw;
}

section div h2 {
	padding: 1.3em 0;
}

/*DONE: nav-bar should always be on top*/
#header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0 auto;
	width: 100%;
	background: #ccc;
	height: 3em;
	z-index: 9999;
}

#header #logo {
	/*float: left;*/
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	border-right: 3px solid black;
}

#logo img {
	display: block;
	width: 10em;
	padding: 0.5em 1em 0.5em 0;
}

#nav-bar {
	align-self: center;
	margin: 0 auto;
}

#nav-bar a {
	display: inline-block;
	float: left;
	padding: 0.25em 0.5em;
	margin: 0 0.6em;
	text-decoration: none;
	border-radius: 0.75em;
	box-shadow: 0.1em -0.1em 0.1em rgba(0, 0, 0, 0.2),
				inset 0 0 0 0.15em rgba(0, 0, 0, 0.4);
	transition: 0.3s all ease-in-out;
}

#nav-bar a:hover {
	background-color: rgba(251, 93, 0, 0.8);
	transform: scale(1.08);
	color: #fff;
}

#content {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: center;
}

#instructions {
	align-self: center;
}

#instructions iframe {
	width: calc(30em + (40 - 30) * ((100vw - 21em) / (70 - 21)));
	height: 22em;
}

#detail-desc {
	margin: 0;
	padding: 0;
	font-weight: bolder;
}

/*This fixes an issue with the navbar covering the sections when you jump to them using the anchor tags: 
https://github.com/twbs/bootstrap/issues/1768*/
section > [id]:before {
	display: block;
	content: " ";
	margin-top: -2.6em;
	height: 1.5em;
	visibility: hidden;
}

@media screen and (max-width: 44em) {
	body {
		margin: 0 auto;
	}

	#header {
		display: block;
		position: relative;
		left: 0;
		right: 0;
		margin: 0;
		padding: 0;
		height: auto;
	}

	#header #logo {
		width: 100%;
		border-right: none;
		border-bottom: 3px solid black;
	}

	#logo img {
		margin: 0 auto;
	}

	#nav-bar {
		position: relative;
		text-align: center;
		width: 80%;
	}

	#nav-bar a {
		width: 100%;
		margin: 0.3em 0;
	}

	#content {
		clear: both;
	}
}