* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@viewport {
	width: device-width;
	zoom: 1.0;
}

@-ms-viewport {
	width: device-width;
}

html {
	font-size: 15px;
}

body {
	margin: 3em auto;
	max-width: 70em;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: calc(15px * (25 - 15) * ((100vw - 320px) / (1200 - 320)));
	line-height: calc(1.3em + (1.45 - 1.3) * ((100vw - 21em) / (70 - 21)));
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern" 1;
}

/*Should have at least one media query*/
/*Should utilice flex box*/
section {
	margin: 0 1em;
}

section div *:not(h2):not(span) {
	padding: 0.3vw 0;
	margin-left: 1.8vw;
}

section div h2 {
	padding: 1.3em 0;
}

/*DONE: nav-bar should always be on top*/
#header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0 auto;
	width: 100%;
	background: #ccc;
	height: 3em;
	z-index: 9999;
}

#header #logo {
	float: left;
	margin: auto;
}

#logo img {
	display: block;
	width: 10em;
}

#nav-bar {
	align-self: center;
}

#nav-bar a {
	display: inline-block;
	float: left;
	padding: 0 1.6em;
}

/*#header #nav-bar {
	float: right;
}*/

#content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#instructions {
	align-self: center;
}

#instructions iframe {
	width: calc(30em + (40 - 30) * ((100vw - 21em) / (70 - 21)));
	height: 22em;
}

#detail-desc {
	margin: 0;
	padding: 0;
	font-weight: bolder;
}

section > [id]:before {
	display: block;
	content: " ";
	margin-top: -2.6em;
	height: 3em;
	visibility: hidden;
}

/*
section div .anchor {
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	z-index: -1;
	top: -40px;
	left: 0;
	visibility: hidden;
}*/