* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

main {
  width: 80%;
  margin: 0 auto;
  border: 5px solid black;
  height: 500px;
  display: flex;
}

main > aside {
  background-color: coral;
  flex: 1 2 150px;
}

main > section {
  background-color: cadetblue;
  flex: 4 1 600px;
}
