* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #777;
}

.chatbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 60%;
  /* border: 1px solid black; */
}

.chatbox .char-name {
  display: inline-block;
  background-color: red;
  padding: 0.25em 0.75em;
  border: 2px solid black;
  border-radius: 1em;
}

.chatbox .token {
  position: absolute;
  top: 0;
  left: -55px;
  width: 110px;
  height: 110px;
  border: 3px solid white;
  border-radius: 100%;
}

.chatbox .token img {
  width: 100%;
  height: 100%;
}

.chatbox .message {
  background-color: rgba(255, 0, 0, 0.65);
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em;
  overflow: hidden;
  padding: 0.5em 0;
}

.entry {
  border-top: 1px solid #222;
}
