body {
    font: normal medium/1.4 sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 0.25rem;
    text-align: left;
    border: thin solid #ccc;
}

.highlight, tr:hover td, tr:hover th {
    background: yellow;
}