body {
    font: normal medium/1.4 sans-serif;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {    
    padding: 0.25em;
    text-align: left;
    border: 1px solid #ccc;
    background: #ddd; /*setting the background of a row or cell elements, will beat the background of a highlighted element*/
}

.highlight {
    background: yellow;
}