:root {
  --primary-color: #333;
  --secondary-color: #eee;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.25;
  overflow: hidden;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 7rem;
}

section div {
  width: 100%;
  text-align: center;
  margin-top: 0.75rem;
}

section h1 {
  font-size: calc(0.5rem + 7vmin);
  margin-bottom: 1.75rem;
}

section p {
  text-align: center;
  font-size: calc(0.3rem + 3vmin);
  margin-bottom: 1.75rem;
}

#page1 {
  background-color: #0e5cfe;
  color: var(--secondary-color);
}

#page2 {
  background-color: #aaa;
  color: #fff;
}

/* #page3 {
} */

#page3:before {
  content: "";
  background: center center / contain no-repeat
    url("../img/dollar-gill-1266298-unsplash.jpg");
  z-index: 9999;
}

.btn {
  background: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1.2rem;
  padding: 1rem 1.75rem;
  text-decoration: none;
  transition: all 0.8s ease-out;
}

.btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
