:root {
  --primary-color: #333;
  --secondary-color: #eee;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.25;
  overflow: hidden;
  color: var(--secondary-color);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 7rem;
}

section div {
  width: 100%;
  text-align: center;
  margin-top: 0.75rem;
}

section h1 {
  font-size: calc(0.5rem + 7vmin);
  margin-bottom: 1.75rem;
}

section p {
  text-align: center;
  font-size: calc(0.3rem + 3vmin);
  margin-bottom: 1.75rem;
}

#page1 {
  background-color: #0e5cfe;
}

#page2 {
  position: relative;
}

#page2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    center center / cover no-repeat
      url("../img/fernando-hernandez-1258790-unsplash.jpg");
}

#page3 {
  position: relative;
}

#page3:before {
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
    center center / cover no-repeat
      url("../img/dollar-gill-1266298-unsplash.jpg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#page4 {
  position: relative;
}

#page4:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url("../img/fernando-venturim-1340147-unsplash.jpg") no-repeat center center /
      cover;
}

.btn {
  background: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1.2rem;
  padding: 1rem 1.75rem;
  text-decoration: none;
  transition: all 0.8s ease-out;
}

.btn:hover,
.btn-dark {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn-dark:hover {
  background: #f4f4f4;
  color: #333;
}
