* {
	box-sizing: border-box;
	/*border: 1px solid black !important;*/
}

@viewport {
	width: device-width;
	zoom: 1.0;
}

@-ms-viewport {
	width: device-width;
}

html {
	font-size: 15px;
}

/*TODO: Cambiar el tipo de letra*/

body {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1em;
	color: #000;
	margin: 0 auto;
	max-width: 75em;
	font-family: "Helvetica", "Arial", sans-serif;
	padding: 4em 1em;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern" 1;
	hyphens: auto;
}

header {
	background-position: center center;
	background-image: url("../res/jpegs/rawpixel-558599-unsplash-minified.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	line-height: calc(1.2em + (1.45 - 1.2) * ((100vw - 46em) / (70 - 46)));
	padding: 10vw 2em;
	text-align: center;
	text-shadow: 1px 1px 10px #000;
}

header, footer {
	grid-column: 1 / span 5;
}

header > h1 {
	font-size: 4em;
}

header > p {
	font-weight: bolder;
}

h1, h2, strong { color: #222; }

main {
	grid-column: 1 / span 5;
	display: grid;
	grid-template-columns: repeat(2, 40%);
	grid-auto-rows: minmax(20em, auto);
	grid-gap: 1.3em;
	justify-content: center;
}

/*TODO: make the images look like portraits inside a painting, like on Assemble
TODO: make the images zoom-in inside the container*/
main div {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #F5F7F9;
	border: 0;
	border-radius: 0.75em;
	box-shadow: 0 0 5px rgba(90, 90, 90, 1);
	transition: all 0.2s ease-in-out;
	text-align: justify;
	height: 20em;
	overflow: hidden;
}

section[class] section {
	padding: 1.5em;
}

section {
	font-size: calc(15px + (17 - 15) * ((100vw - 400px) / (800 - 400)));
}

section h1 {
	padding: 2px 1.5em;
	text-align: center;
}

section p {
	padding: 0 1em;
}

.thumb-preview div {
	flex-direction: column !important;
	height: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0;
	background: #FFF !important;
	transition: 0.8s all ease-in-out;
}

.thumb-preview div:hover {
	opacity: 0.9;
}

#catapp-proj {
	background-image: url("../../assets/res/thumbnails/catapp-thumb.jpg");
	background-size: cover;
	background-position: 25% 17%;
	background-repeat: no-repeat;
}

#onlinecv-proj {
	background-image: url("../../assets/res/thumbnails/onlinecv-thumb.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#regform-proj {
	background-image: url("../../assets/res/thumbnails/regform-thumb.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#tribute-proj {
	background-image: url("../../assets/res/thumbnails/tribute-thumb.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#prodland-proj {
	background-image: url("/assets/res/thumbnails/prodland-thumb.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;	
}

#survey-proj {
	background-image: url('../../assets/res/thumbnails/survey-thumb.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;		
}

#todolist-proj {
	background-image: url('../../assets/res/thumbnails/todolist-thumb.jpg');
	background-size: cover;
	background-position: 25% 17%;
	background-repeat: no-repeat;	
}

a {
	font-size: calc(15px + (17 - 15) * ((100vw - 400px) / (800 - 400)));
	text-decoration: none;
	color: #555;
}

a:visited {
	color: #555;
}

.grow:hover {
	/*transform: scale(1.05);*/
}

#social-media {
	list-style-type: none;
	text-align: center;
	border-bottom: 2px solid #C9C9C9;
	padding-bottom: 15px;
}

#social-media li {
	display: inline;
}

#social-media a {
	transition: all 0.2s ease-in-out;
}

#social-media a:hover {
	margin: 0 15px 0 15px;
}

footer {
	border-top: 2px solid #b7b7b7;
	text-align: center;
}

.margin-left {
	margin-left: 20px;
}

/*#tribute-proj::after {
	transition: 0.9s all ease-in-out;
	content: "";
	opacity: 1;
	
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}*/

.thumb-preview {
	position: relative !important;
	align-self: stretch !important;
	justify-self: stretch !important;
	margin: -10px -25px !important;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto !important;
}

.clearfix:before {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	font-size: 0;
	height: 0;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	font-size: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
	height: 1%;
}

/*.transparent {
	transition: 0.5s all ease-in-out;
}*/

/*#tribute-proj:hover .transparent {
	opacity: 0;
}

#tribute-proj:hover::after {
	opacity: 1;
}*/

@media (max-width: 700px) {
	main {
		grid-template-columns: 80%;
	}

	header {
		background-size: contain;
	}
}