* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
}

ul {
  padding: 1em;
}

li {
  list-style: none;
  background: #d1703c;
  color: #fff;
  height: 0;
  line-height: 2em;
  padding: 0 0.5em;
  overflow: hidden;
  width: 10em;
}

li.show {
  height: 2em;
  margin: 2px 0;
}

li.hide {
  height: 0;
}

.fade li {
  transition: all 0.4s ease-out;
  opacity: 0;
  height: 2em;
}

.fade li.show {
  opacity: 1;
}

.slide-fade li {
  transition: all 0.4s ease-out;
  opacity: 0;
}

.slide-fade li.show {
  opacity: 1;
}

.slide-fade li.hide {
  opacity: 0;
}

/* Swinging List Elements */
.swing {
  perspective: 200px;
}

.swing li {
  transform: rotateY(-90deg);
  transition: all 0.5s cubic-bezier(0.36, -0.64, 0.34, 1.76);
}

.swing li.show {
  transform: none;
  transition: all 0.5s cubic-bezier(0.36, -0.64, 0.34, 1.76);
}

.swing li.hide {
  height: 0;
  transform: rotateY(-90deg);
  transition: all 0.5s ease-out;
}
