* {
	box-sizing: border-box;
}

@viewport {
	width: device-width;
	zoom: 1.0;
}

@-ms-viewport {
	width: device-width;
}

#header {
	background: url("https://images.unsplash.com/photo-1533912352517-92dd08116ea4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=671&q=80") center center / cover no-repeat;
	/*background: url("https://images.unsplash.com/photo-1455612693675-112974d4880b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80") center center / cover no-repeat;*/
}