*,
*::before,
*::after {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

p {
  font-size: 1.1rem;
}

.btn {
  font-size: inherit;
  font-family: inherit;
  display: inline-block;
  outline: none;
  border: none;
  border-radius: 0.75em;
  background-color: #ddd;
  padding: 0.75em 1.25em;
  text-decoration: none;
  transition: background-color 0.35s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #bbb;
}

.noHover {
  pointer-events: none;
}

#gui {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.display {
  display: flex;
  margin: 0 auto;
  width: 70%;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.dialogue {
  color: #ff0000;
}
