* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: left -90% top 60% / 75% no-repeat url("../images/bg-pattern-top.svg"),
    right -90% top -40% / 75% no-repeat url("../images/bg-pattern-bottom.svg"),
    hsl(185, 75%, 39%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
