:root {
  --red-hue: 0;
  --red-lightness: 50%;
  --black-transparent-overlay: hsl(0 0% 0% / 0.45);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  font-family: "Nunito", sans-serif;
  background-color: #e1e1e1;
  color: #333;
  height: 100vh;
  padding: 2em 0;
}

section {
  width: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  /* background-color: #fff; */
  /* background: linear-gradient(
      var(--black-transparent-overlay),
      var(--black-transparent-overlay)
    ),
    center / cover no-repeat url("../res/img/wizard_lab.jpg"); */

  border-radius: 1.75em;
  box-shadow: 0 0 10px rgba(22, 28, 64, 0.3);
  overflow: hidden;
}

h1 {
  font-size: 5rem;
  font-family: "bouncypersonal_use_only";
  font-variant: small-caps;

  text-align: center;
  line-height: 1.25;

  padding: 2rem 0;
  margin-bottom: 0;

  position: relative;
}

span {
  padding: 0.1em;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.split > span {
  display: inline-block;
  cursor: pointer;
  white-space: break-space;
  background: linear-gradient(
    45deg,
    hsl(55 100% 50% / 1),
    hsl(39 100% 50% / 1),
    hsl(0 100% 60% / 1),
    hsl(0 100% 50% / 1)
  );

  background-size: 400%;

  background-position: right;

  transition: transform 0.3s ease, text-shadow 0.5s ease, color 0.5s,
    background-position 0.5s;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;

  filter: drop-shadow(0 0 1px black);

  color: transparent;

  position: relative;
}

/* .split:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  filter: blur(0.75em);
} */

@media (prefers-reduced-motion: no-preference) {
  .breath > span {
    animation: breath 1200ms ease calc(var(--index) * 100 * 1ms) infinite
      alternate;
  }

  @keyframes breath {
    0% {
      animation-timing-function: ease-out;
      background-position: right;
    }
    100% {
      transform: translateY(-5px) scale(1.25) perspective(1px);
      background-position: left;
      animation-timing-function: ease-in-out;
    }
  }
}

@media (hover) {
  .split:hover > span {
    /* animation-play-state: paused; */
    text-shadow: 0 0 1px orangered,
      0 0 5px hsl(var(--red-hue) 100% var(--red-lightness) / 1), 0 0 25px red;
  }

  .split > span:hover {
    font-family: "bouncyblack_personal_use_only" !important;
    transform: perspective(1px);
    color: yellow;
    /* text-shadow: 0 0 1px orangered,
      0 0 5px hsl(var(--red-hue) 100% var(--red-lightness) / 1), 0 0 25px red; */
    /* filter: drop-shadow(0 0 3px black); */

    /* ponerle transicion a opacidad y animar la opacidad cuando se haga hover */
  }
}

label {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
}

input {
  border: none;
  outline: none;
  border-radius: 0.15em;
}

input[type="number"] {
  font-size: 1.75rem;
  width: 90px;
  height: 3.2rem;
  padding: 0 0.1em;
  text-align: right;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.num-container {
  display: inline-block;
  position: relative;
}

.num-container .spin-container {
  content: "";
  position: absolute;
  top: 0;
  right: -25px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.num-container .spin-container button {
  display: block;
  font-weight: bold;
  padding: 0.25rem;
  margin: 0.05rem 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
  text-align: center;
  line-height: 0.95em;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  border-radius: 0.25em;
  transition: text-shadow 0.3s ease, background-color 0.3s ease;
}

.num-container .spin-container button:hover {
  background-color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

#instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

#instructions details {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all 0.3s linear;
}

#instructions details:hover,
#instructions details:hover ul {
  text-shadow: 0 0 5px #fff, 0 0 10px #fb8b24, 0 0 15px #9a031e, 0 0 25px #f00;
}

#instructions h3 {
  font-family: "bouncyblack_personal_use_only";
  letter-spacing: 0.12em;
  font-size: 3rem;
  margin: 1.75rem auto;
  /* color: #9a031e; */
}

#instructions details ul {
  cursor: auto;
  width: 95%;
  font-size: 1.5rem;
  list-style-type: none;
  text-align: justify;
  line-height: 1.25;
  transition: all 0.2s ease-in-out;
  /* text-shadow: 0 0 1px #ffd60a, 0px 0px 7px #ffba08, 0px 0px 9px #e85d04,
    0 0px 15px #ffd60a; */
}

#instructions .inner {
  transform: translateZ(0);
  backface-visibility: hidden;
}

#instructions details[data-open] .inner {
  clip-path: inset(0);
  animation: animateClose 0.25s linear forwards;
  transition-timing-function: ease-out;
}

@keyframes animateClose {
  0% {
    opacity: 1;
    transform: translateY(0px);
    max-height: 400px;
  }
  100% {
    opacity: 0;
    transform: translateY(-15px) scale(0.9);
    max-height: 0;
  }
}

#instructions details[open] .inner {
  animation: animateOpen 0.25s linear forwards;
}

@keyframes animateOpen {
  0% {
    opacity: 0;
    transform: translateY(-15px);
    max-height: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1) perspective(1px);
    max-height: 400px;
  }
}

#instructions .inner {
  height: auto;
  overflow: hidden;
  text-align: justify;
  clip-path: inset(0 0 100% 0);
  transform: scale(0.5);
  transform-origin: bottom center;
  transition: all 0.3s ease;
}

#instructions .inner li {
  padding: 0 2rem;
}

#instructions ul li {
  transform: translateY(15px);
  display: flex;
  text-align: justify;
  align-items: center;
  line-height: 1.25;
  margin-bottom: 1.75rem;
  transition: text-shadow 0.3s ease-in-out;
}

#instructions ul li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 32px;
  content: "\f185";
  float: left;
  margin-right: 0.75em;
  transform: rotate(359deg);
  animation: spinning 4s infinite linear;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    tranform: rotate(359deg);
  }
}

#instructions ul li:nth-of-type(1)::before {
  animation-delay: 0.1s;
}
#instructions ul li:nth-of-type(2)::before {
  animation-delay: 0.3s;
}
#instructions ul li:nth-of-type(3)::before {
  animation-delay: 0.5s;
}
#instructions ul li:nth-of-type(4)::before {
  animation-delay: 0.7s;
}
#instructions ul li:nth-of-type(5)::before {
  animation-delay: 0.9s;
}

#instructions ul li:hover::before {
  animation-play-state: paused;
}
