<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
    <header>
      <h1>Grid Layout Doesn't Have To Be Complicated</h1>
    </header>

    <div class="content">
      <section>
        <h2>Section Title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi itaque
          magnam maiores iure commodi, quas exercitationem vel ratione,
          similique optio atque repellat debitis repudiandae ad eius sunt facere
          aperiam possimus.
        </p>
      </section>
      <section>
        <h2>Section Title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam non
          incidunt iure error, dolorum voluptatibus labore et natus repellendus
          sapiente itaque sint unde veniam debitis, laborum hic dolor
          perspiciatis. Exercitationem! Distinctio quia delectus odio quidem
          ducimus dolorum, mollitia similique voluptatum! Atque ipsum aspernatur
          recusandae laboriosam non, iste debitis magni voluptatibus id
          architecto?
        </p>
      </section>
      <section>
        <h2>Section Title</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt
          reprehenderit error quaerat voluptates nesciunt repellendus pariatur
          consequuntur quam dolore similique, soluta in corporis, amet nemo
          architecto accusantium magni. Ipsam, atque. Cupiditate quo fuga amet
          eum obcaecati cum consequuntur minus dicta, illo repudiandae repellat
          numquam molestias modi.
        </p>
      </section>
      <section>
        <h2>Section Title</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt
          reprehenderit error quaerat voluptates nesciunt repellendus pariatur
          consequuntur quam dolore similique, soluta in corporis, amet nemo
          architecto accusantium magni. Ipsam, atque. Cupiditate quo fuga amet
          eum obcaecati cum consequuntur minus dicta, illo repudiandae repellat
          numquam molestias modi.
        </p>
      </section>
    </div>
  </body>
</html>
