* {
	box-sizing: border-box;
	/*border: 1px solid black;*/
}

body {
	max-width: 50em;
	margin: 0 auto;
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
	padding: 4em 1em;
	background: #9BBEFF;
	color: #555;
	text-align: center;
}

div {
	padding: 5px;
}

h1 {
	text-align: center;
}

h1, label, legend, p {
	color: #333;
}

#content {
	text-align: left;
	background: #EAEBEF;
	margin: 0 auto;
	padding: 1em 1em;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#content > div {
	padding: 0 1em;
}

legend, p {
	font-weight: 300;
	font-size: 1.5em;
}

#name-label, #email-label, #number-label {
	width: 30%;
	margin-right: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
	display: block;
	margin: 0 auto;
	width: 60%;
	padding: 20px 20px 20px 20px;
}

input[type="submit"] {
	border: 1px solid #eee;
	background: #0AFF91;
	border-radius: 290486px;
	width: 60%;
	color: white;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.2em;
	margin: 1.5em 0;
	padding: 1em;
	text-transform: uppercase;
	text-decoration: none;
	transition: none 200ms ease-out;
	transition-property: color, background;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

input[type="submit"]:hover {
	background: #1CAAFF;
	color: white;
}

input[type="submit"]:focus {
	outline: none;
}

#customer-info, #reference {
	padding: 1em 1em;
}

#customer-info div {
	display: flex;
	align-items: center;
}

#customer-info > div > input {
	width: 60%;
}

#comment-section {
	display: flex;
	justify-content: space-between;
	padding: 1em 1em;
}

#comment-section > textarea {
	width: 50%;
}

#comment-section > label {
	align-self: center;
}

.set-container > fieldset {
	width: 70%;
	margin: 5px auto;
}

.glowing-border {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	outline: none;
	border: 1px solid #DDD;
}

.glowing-border:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}

.grow:hover {
	transform: scale(1.1);
}

#button-container {
	text-align: center;
}

#reference {
	display: grid;
	grid-template-columns: 1fr 40%;
	align-content: center;
	justify-content: center;
	grid-gap: 2em;
}

#reference > label {
	text-align: right;
}

#reference > select {
	justify-self: start;
	width: 60%;
}

@media only screen and (max-width: 1300px) {
	#customer-info div {
		flex-direction: column;
		align-items: flex-start;
	}

	#customer-info div input {
		width: 100%;
	}

	#reference {
		grid-template-columns: 1fr;
		justify-items: center;
	}

	#reference select {
		justify-self: center;
	}

	#comment-section {
		display: grid;
		text-decoration: column;
		justify-content: center;
	}

	#comment-section textarea {
		width: 100%;
		height: 150px;
	}
}