.js-loading *, .js-loading *:before, .js-loading *:after {
	-webkit-animation-play-state: paused !important;
	        animation-play-state: paused !important;
}

#head-cover {
	display: -webkit-box;
	display: -ms-flexbox;
	overflow: hidden;
	-webkit-perspective: 100px;
	        perspective: 100px;
	position: relative;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}

#head-cover:before {
	-webkit-animation: no-transform 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
	animation: no-transform 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
	content: "";
	background: url("../res/tomas-yates-696872-unsplash.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	-webkit-transform: scale(2);
	transform: scale(2);
	z-index: -1;
}

#head-cover:after {
/*	animation: rotate-up 0.8s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
	background: #989898;
	content: "";
	height: 40rem;	
	position: absolute;
	top: 90%;
	left: -5%;
	right: -5%;
	-webkit-transform: rotateZ(-4deg);
	transform: rotateZ(-4deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	z-index: 0;	*/
}

.header-down-arrow {
	-webkit-animation: pulse 2s 3s ease-out infinite;
	animation: pulse 2s 3s ease-out infinite;
	transform: none;
	opacity: 1;
	position: absolute;
	bottom: 4vh;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 9999;
}

.header-down-arrow img {
	-webkit-animation: no-transform 1s 1s ease-out forwards;
	animation: no-transform 1s 1s ease-out forwards;
	width: 50px;
	opacity: 0;
	-webkit-transform: translateY(-4rem);
	transform: translateY(-4rem);
}

#inner-cover .name {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

#inner-cover .lastname {
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

#inner-cover .personal-intro {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

#inner-cover .btn {
	position: relative;
	-webkit-transform: translateZ(0.1px);
	transform: translateZ(0.1px);
	z-index: 10;
}

#inner-cover .git-btn {
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

#inner-cover .blog-btn {
	-webkit-animation-delay: 1.4s;
	animation-delay: 1.4s;
}

.animate-pop-in {
	-webkit-animation: no-transform 0.6s cubic-bezier(0, 0.4, 0.03, 1.50) forwards;
	animation: no-transform 0.6s cubic-bezier(0, 0.4, 0.03, 1.50) forwards;
	opacity: 0;
	-webkit-transform: translateY(-4rem) scale(1.8);
	transform: translateY(-4rem) scale(1.8);
}

/*ANIMATIONS*/

@-webkit-keyframes no-transform {
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes no-transform {
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes rotate-up {
	0% {
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes rotate-up {
	0% {
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes pulse {
	0% {
		opacity: 0.8;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
	50% {
		opacity: 0.6;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
}

@keyframes pulse {
	0% {
		opacity: 0.8;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
	50% {
		opacity: 0.6;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
}