#navbar {
	border: 1px solid black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #909090;
}

#navbar ul {
	margin: 0;
	padding: 5px 0 5px 30px;
	list-style: none;
}

#navbar li {
	display: inline;
	margin-right: 20px;
}

.all-elements {
	margin: 40px auto;
	width: 80%;
	border: 1px solid black;
	padding: 20px;
}

.header {
	display: flex;
}

.header > div {
	flex: 1;
}

.institution {
	font-weight: bold;
}

.study-header {
	display: flex;
}

.study-header > div {
	flex: 1;
}

.job-header {
	display: flex;
}

.job-header > div {
	flex: 1;
}

.project-description p {
	font-weight: bold;
}

/*Make collapsible items*/

.collapsible {
	padding: 0 30px;
	border-bottom: 3px solid #7D7D7D;
}

.collapsible ul {
	list-style: none;
	padding: 0;
}

.collapsible li {
	display: block;
	padding: 5px;
}

.collapsible label {	
	font-size: 18px;
	display: block;
	cursor: pointer;
}

.details-content {
	height: 0;
	transform: scaleY(0);
	padding: 0 0 0 50px;
}

input[type="checkbox"] {
	position: absolute;
	opacity: 0;
}

input[type="checkbox"]:checked ~ .details-content {
	height: 100%;
	transform-origin: top;
	transition: transform .3s ease-out;
	transform: scaleY(1);
}

.project-description label {
	padding-top: 10px;
}