* {
	box-sizing: border-box;
}

@viewport {
	width: device-width;
	zoom: 1.0;
}

@-ms-viewport {
	width: device-width;
}

html {
	font-size: 15px;
}

body {
	margin: 40px;
}

.wrapper {
	width: 70%;
	margin: 0 auto;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 120px repeat(2, 360px);
	grid-template-areas: ". header header"
						 "sidebar content content"
						 "footer footer footer";
	background: #fff;
	color: #444;
	justify-content: center;
}

.sidebar {
	grid-area: sidebar;
}

.content {
	grid-area: content;
}

.header {
	grid-area: header;
}

.footer {
	grid-area: footer;
}

.box {
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
	font-size: 1.5em;
}

.header, .footer {
	background-color: #999;
}