* {
	box-sizing: border-box;
}

html {
	font-size: 15px;
}

body {
	margin: 2.66rem;
	text-align: center;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern" 1;
}

p {
	text-align: justify;	
}

header {
	padding: 4rem;
	margin: 1.5rem;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	background: rgba(240, 240, 240, 0.8);
	margin: 2rem;
	padding: 1.2rem;
	border-radius: 1.75em;
	border: 1px solid #ccc;
}

a { text-decoration: none; }

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 30%);
	grid-gap: 0.66rem;
	background: #FFF;
	color: #444;
}

.box {
	background: #444;
	color: #FFF;
	border-radius: 0.33em;
	padding: 1.33rem;
	font-size: 1.5em;
}

.a {
	grid-column: 1 / span 2;
	grid-row: 1;
}

.b {
	grid-column: 3;
	grid-row: 1 / span 2;
}

.c {
	grid-column: 1;
	grid-row: 2;
}

.d {
	grid-column: 2;
	grid-row: 2;
}

.griditem {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}