* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

h2 {
  width: 80%;
  margin: 0 auto;
  margin-top: 0.75em;
}

.container {
  width: 80%;
  height: 40vh;
  background: #0096c7;
  margin: 0 auto;
}

.container:last-of-type {
  margin-bottom: 0.75em;
}

.container .wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.container .wrapper div {
  display: flex;
  width: 15%;
  height: 40%;
  font-weight: bold;
  font-size: 2.5em;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #f00;
}

.wrapper.wider div {
  width: 30%;
}

.flx-basis-300 > div {
  flex-basis: 300px;
}

.row-reverse {
  flex-direction: row-reverse;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.flex-column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-baseline {
  align-items: baseline;
}

.content-start {
  align-content: flex-start;
}

.content-end {
  align-content: flex-end;
}

.content-center {
  align-content: center;
}

.content-around {
  align-content: space-around;
}

.content-between {
  align-content: space-between;
}

.content-stretch {
  align-content: stretch;
}

.self-center {
  align-self: center;
}

.self-start {
  align-self: flex-start;
}

.self-stretch {
  align-self: stretch;
}

.self-end {
  align-self: flex-end;
}

.flx-grow-1 {
  flex-grow: 1;
}

.flx-grow-2 {
  flex-grow: 2;
}

.flx-grow-3 {
  flex-grow: 3;
}

.flx-grow-4 {
  flex-grow: 4;
}

.flx-grow-5 {
  flex-grow: 5;
}

.flx-shrink-1 {
  flex-shrink: 1;
}

.flx-shrink-2 {
  flex-shrink: 2;
}

.flx-shrink-3 {
  flex-shrink: 3;
}

.flx-shrink-4 {
  flex-shrink: 4;
}

.flx-shrink-5 {
  flex-shrink: 5;
}

.flx-shrink-0 {
  flex-shrink: 0;
}
