* {
	box-sizing: border-box;
}

html {
	font-size: 15px;
}

body {
	margin: 0;
	padding: 0;
	left: 0;
	right: 0;
	font-family: 'Aleo', Helvetica, sans-serif;
	font-size: calc(15px + (25 - 15) * ((100vw - 320px) / (1200px - 320px)));
	line-height: calc(1.45em + (1.45 - 1.25) * ((100vw - 22em) / (90 - 45)));
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern" 1;
}

header h2 {
	font-size: calc(0.4rem + 1.3vw);
	font-weight: 400;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0.12em;
	color: #09AAFF;
}

header h1 {
	text-transform: capitalize;
	font-size: calc(0.4rem + 5vw);
}

p {
	margin: 0;
	padding: 0.66rem;
}

article {
	margin-bottom: 2em;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#container {
	margin: 1.33rem auto;
	padding: 1.33rem;
	width: 100%;
	max-width: 70em;
	border: 20px solid #555;
}

.thickborder {
	border-left: 5px solid #555;
}